[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui", "flask", "uvicorn"], version = "*"}
werkzeug = "*"
swagger-ui-bundle = "*"
python-dateutil = "*"
flask = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"
tox = "*"

[requires]
python_version = "3.9"
